<html>
    <head>
        <h2>THIS IS TWITTY</h2>
    </head>
    <body>
        {% if error_message %}
        <div>
            {{ error_message }}
        </div>
        {% else %}
        <a href="/logout">Logout</a>
        <a href="/timeline">timeline</a>
        <a href="/home">home</a><br>

        <form method="POST" action="post">
            {{username}}, what are you doing?
            <br>
            <input type="text" name="post">
            <input type="submit" value="Post">
        </form>
        <div id="homeinfobox">
            {{ followers }} Followers<br/>
            {{ following }} Following<br/>
        </div>
        {% for post in posts %}
        <div class="post">
            <a class="username" href="/profile/{{ post.username }}">{{ post.username }}</a>
           <i> {{ post.elapsed }}</i> <br>{{ post.text }}
        </div>
        {% endfor %}
        {% endif %}

    </body>
</html>