<html>
    <head>
        <h2>Twitty Register</h2>
        {% if error_message %}
        {{error_message}}
        {% endif %}
    </head>
    <body>
        <form method="POST" action="signup">
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <input type="password" placeholder="Confirm Password" name="confirm_password">
            <input type="submit" value="Signup">
        </form>    
    </body>
</html>