<html>

<head>
    <title> Twitty - Timeline </title>

    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</head>

<body class="bg-light-yellow">
    <nav class="navbar navbar-light bg-yellow align-items-end justify-content-start">

        <a class="navbar-brand" href="/home">
            <img src="{{url_for('static', filename='twitty-logo.png')}}" width="200" height="98" alt="">
        </a>

        <ul class="nav-item text-nav">
            <a class="nav-link" href="/timeline">Timeline</a>
        </ul>
        <ul class="nav-item text-nav">
            <a class="nav-link" href="/home">Home</a>
        </ul>
        <div class="ml-auto">
            <ul class="nav-item text-nav">
                <a class="nav-link" href="/logout">Logout</a>

            </ul>
        </div>
    </nav>

    <div class="col-md-8 mx-auto bg-wtite">
        <br>

        <div class="text">
            <i>Latest registered users</i><br>
            <div>
                {% for user in users %}
                <a class="username" href="/profile/{{ user }}">{{ user }}</a>;
                {% endfor %}
            </div>
            <br>

            <i>Latest 50 messages from users aroud the world!</i><br>
        </div>

        {% for post in posts %}
        <div class="card hover-shadow">
            <div class="media card-body">
                <div class="post">
                    <a class="username" href="/profile/{{ post.username }}">{{ post.username }}</a>
                    <i> {{ post.elapsed }}</i> <br>{{ post.text }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>